
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #2c3e50, #3498db);
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    /* background: linear-gradient(105deg, #1441b9 0.0%, #38ae56 100%); */
}

/*  Styling the clock container: */
#clock {

    font-size: 3.5em;
    font-weight: bold;
    letter-spacing: 5px;
    margin-top: 20px;

}

#clock span {
    text-shadow:  3px 4px 4px rgba(0,0,0,0.3);;
}

.timeOptions {

    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;

}
.timeOptions i{
    transition: transform 0.3s ease, color 0.3s ease;
}
.timeOptions i:hover {
    transform: scale(2.5);
    color: #f1c40f;
    transition: 0.5s ease-in-out;

}

.timeOptions i::after {
    content: attr(data-title);
    position: absolute;
    font-size: 0.7rem;
    background-color: black;
    padding: 2px 6px;
    color: white;
    border-radius: 4px;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
}

.timeOptions i:hover::after {
  opacity: 1;
  transform: translateY(-20px);
}


#heading-clock {

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    font-family:Georgia, 'Times New Roman', Times, serif;

    color:rgb(250, 235, 215);

}





.stopWatch-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#stopwatch_btn {

    display: inline-block;
    padding: 10px 20px;
    background-color: #728090;
    color: white;
    text-decoration: none;
    border-radius:5px ;
    font-weight: bold;

}    

#stopwatch_btn:hover {

    cursor: pointer;
    background-color: #0056b3;

}    



